html, body {
  background-color: #CED0D2;
  height: 100%;
  margin: 0;
  font-family: "Public", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
a{
  color: black;
  text-decoration: none;
}
.bg-deep-blue{
  background-color:#008FD1;
}
.styles-card, .btn, button, link{
  box-shadow: 0px 3px 8px rgba(34, 48, 62, 0.1);
  border-radius: 6px;
}
.bg-gray{
  background-color: #E2E2E2;
}
.btn{
  background-color: #77C1E7;
  border: none;
  color: black;
}
.btn:hover{
  background-color: #008FD1;
}


.selectMenu{
  background-color: #77C1E7;
  color:black;
}
.selectMenu:hover{
  background-color: #008FD1;
  color:white;
  transition: 0.3s;
}
.selectMenu option {
  background-color: white;
  color: black;
}
input:focus, textarea:focus,.form-select:focus,select:focus {
  outline: none!important;  /* До свидания, подсветка. */
  box-shadow: none!important; /* До свидания, тень. */
}
.btn:disabled{
  background-color:#AFC6D2;
  color: black;
  transition: 0.3s;
}
.engineList{
  --bs-table-bg: rgba(155, 10, 10, 0); /* Задайте нужный цвет */
}
.engineListThead{
  background-color: #fff;
}
.bgReady{
  background-color: #A6D3B4;
}
.bgLowRepair{
  background-color: #FFD966;
}
.bgHeavyRepair{
  background-color: #E68B93!important;
}
